            * {
                -webkit-margin-before: 0;
                -webkit-margin-after: 0;
                -webkit-padding-start: 0;
            }
            html,body {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                background-color: #DFDCE3;
                font-family: Roboto, sans-serif;
            }
            .container {
                font-size: 0;
            }
            header .logo-wrp {
                grid-area: logo;
            }
            header img {
                height: 100%;
                max-height: 150px;
                border-radius: 12%;
            }
            header .credo {
                grid-area: credo;
                color: #FFF;
                text-align:right;
                margin: 0 15px 0 0;
                
                
            }
            header .credo i {
                font-size: 5vw;
            }
            header nav {
                grid-area: nav;
                justify-self: stretch;
                align-self: start;
                margin: 0 10px 0 35px;
            }
            header nav ul {
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                list-style: none;
            }
            header nav ul li {
                height: 9vw;
                width: 9vw;
                background-color: #F7B733;
                border-radius: 50%;
                border: 3px solid #FFF;
                
            }
            header nav ul li:hover {
                background-color:#DFDCE3;
            }
            header a {
                text-decoration: none;
                color: #FFF;
                font-weight: bold;
            }
            header a span {
                display: none;
            }
            header i {
                font-size: 25px;
            }
            header {
                height:40vw;
                max-height: 150px;
                background-color: #4ABDAC;
                padding: 6.7vw 3.3vw;
                /* grid-area: header; */
			  	display: grid;
			  	grid-template-columns: 35vw 55vw;
			    grid-template-rows: 18vw 18vw;
			    grid-template-areas: 
				    "logo credo"
				    "logo nav";
				    grid-gap: 5px;
            }

            h1 {
                -webkit-margin-before: 0.2em;
                -webkit-margin-after: 0.2em;
                font-size: 6vw;
                color:#4ABDAC;
                text-align: center;
            }
            .profcard .photo-wrp {
                grid-area: photo;
                align-self: center;
                
            }
            .profcard img {
                width: 100%;
                border-radius: 40%;
            }
            .profcard h3 {
                grid-area: name;
                justify-self: end;
                align-self: end;
                font-size: 4.2vw;
                margin-right: 13px;
            }
            .profcard .jobname {
                grid-area: job;
                justify-self: end;
                font-size: 3.5vw;
                margin-right: 15px;
            }
            .profcard .phone {
                grid-area: phone;
                justify-self: end;
                font-size: 3.5vw;
                margin-right: 15px;
            }

            .profcard {
                background: url("../img/card.jpg") center no-repeat;
                background-size: 100%;
                width: 90vw;
                max-width:600px;
                max-height: 360px;
                height: 54vw;
                border:3px solid #4ABDAC; 
                border-radius:3px; 
                box-shadow:0 0 2.5vw 0 rgba(0,0,0,0.5),1vw 2.5vw 3vw 1vw rgba(0,0,0,0.15); 
                margin: 2.5vw 3vw 2vw 3.5vw;
                display: grid;
                grid-template-columns: 40% 60%;
			    grid-template-rows: 20% 15% 10% 20% 30%;
			    grid-template-areas: 
                    "photo ."
                    "photo name"
                    "photo job"
                    "photo phone"
                    ". .";
                grid-gap: 2vw;
                color:#FFF;

            }
            .datepicker {
                font-size: 4vw;
                color:#4ABDAC;
                text-align:center;
            }
            .schedule {
                width: 100vw;
                max-width: 360px;
                border: 3px solid  #4ABDAC;
                background-color: #FFF;
            }
            .schedule td {
                background-color: #DFDCE3;
                border: 1px solid  #4ABDAC;
            }
            input:checked ~ .schedule td {
                background-color: #FC4A1A;
                border: 1px solid  #4ABDAC;
            }
            .schedule td input:checked + span {
                width: 60%;
	            background: #FC4A1A;
            }
            footer {
                height: 50px;
                background-color: #4ABDAC;
            }
